@import '../../../styles/variables';
@import '../../../styles/functions';
@import '../../../styles/fonts';

.wrapper_product {
	display: flex;
	flex-direction: column;
	gap: adapt(16px, 375px);
}

.block__products {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: adapt(15px, 375px);
}
