$color-green-standart: rgb(144, 191, 10);
$color-green-hover: rgb(118, 156, 10);
$green-heading-text: rgb(36, 41, 37);
$color-black: rgb(44, 56, 40);
$color-black-text: rgb(36, 41, 37);
$color-black-light: rgb(60, 65, 61);
$color-green-light: rgba(144, 191, 10, 0.1);
$color-pale-green: rgb(233, 242, 206);
$color-lime: rgb(142, 198, 71);
$color-yellow: rgb(242, 218, 10);
$color-red: rgb(203, 49, 40);
$color-grey-cards: rgb(246, 246, 246);
$color-grey-disable: rgb(163, 167, 164);
$color-orange-dark: rgb(217, 143, 0);
$color-grey-button: rgb(242, 242, 242);
$color-black-btn: #2c3828;
$color-grey: rgba(
	$color: #242925,
	$alpha: 40%,
);
$color-for-dish: #f4fbfa;
$color_full_black: #000;

$fz_standart: 17px;
