@import '../../../styles/variables';
@import '../../../styles/functions';
@import '../../../styles/fonts';

.header__profile {
	display: flex;
	justify-content: space-between;
	align-items: center;
  padding-bottom: 24px;
}

.header__title {
	font-weight: 590;
	font-size: 1.375rem;
	font-family: 'SF-Pro-Display-Semibold';
}

.avatar__profile {
	display: flex;
	justify-content: center;
}

.avatar__profile__image {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: $color-green-standart;
	width: adapt(80px, 375px);
	height: adapt(80px, 375px);
}

.buttons__wrapper__profile {
	padding-top: adapt(40px, 375px);
  padding-bottom: adapt(120px, 375px);
	display: flex;
	flex-direction: column;
	gap: 8px;
}
